/* sertifikatSaya.module.css */

.printWrapper {
  position: relative;
}

@media print {
  .printOnly {
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
}
